{% extends './layout.njk' %}

{% block main %} 
<h4 class="text-center">OAuth设置</h4>
{% if updated %}
<div class="alert alert-success" role="alert" ng-show="updated">更新成功!</div>
{% endif %}

   <form class="form-horizontal oauth" method="post">
     <div class="form-group">
       <label for="state" class="col-sm-2 control-label">State</label>
       <div class="col-sm-10">
       <input type="text" name="state" class="form-control" id="state" placeholder="State" value="">
       </div>
     </div>
     <div class="form-group">
       <label for="scope" class="col-sm-2 control-label">Scope:</label>
       <div class="col-sm-10">
       <select class="form-control" name="scope" id="scope" ng-model="oauth.scope">
         <option value="0">snsapi_base</option>
         <option value="1">snsapi_userinfo</option>
      </select>
       </div>
     </div>
     <hr/>
     <button type="submit" class="btn btn-default btn-block btn-success" ng-click="set('oauth')">提交</button>
     <hr/>
   </form>
   
{% endblock %}